<h1><%= markdown_to_html @post.title %></h1>

<% if policy(@post).edit? %>
<%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
<% end %>

<div class="row">
  <div class="col-md-8">
     <p><%= markdown_to_html @post.body %></p>
  </div>

<h2><%= @comments.count %> Comments</h2>

    <%= render @comments %>

    <% if can? :create, Comment %>
      <hr/>
      <h4>New Comment</h4>
      <%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @comment } %>
    <% end %>

